* {
    box-sizing: border-box;
}

.iphone {
    position: relative;
    /*
    background-image: url(iPhone-6S-Silver.png);
    background-position: -125px;
    
    top: 50px;
    height: 480px;
    width: 250px;
    left: 60px;
    background-size: 500px;
    border-radius: 35px;
    background-color: white;
    */
    left: 60px;
    top: 60px;
}

.iphonebody {
    position: absolute;
    top: 0px;
    height: 480px;
    width: 237px;
    left: 6px;
    background-size: 500px;
    border-radius: 35px;
    background-color: white;
}

.frame {
    position: absolute;
    top: -7px;
    width: 247px;
    height: 493px;
    left: 01px;
    border-radius: 40px;
    background-color: gray;
    z-index: -1;
}

.btn {
    position: absolute;
    top: 428px;
    width: 40px;
    height: 40px;
    left: 105px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    border: gray 4px solid;
}

.screen {
    position: absolute;
    top: 46px;
    width: 221px;
    height: 375px;
    left: 14px;
    background-color: black;
}

.soundc1 {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    left: 120px;
    border-radius: 50%;
    background-color: darkslategray;
    z-index: 1;
}

.soundc2 {
    position: absolute;
    top: 22px;
    width: 10px;
    height: 10px;
    left: 76px;
    border-radius: 50%;
    background-color: darkslategray;
    z-index: 1;
}

.soundrtg {
    position: absolute;
    top: 25px;
    width: 38px;
    height: 6px;
    left: 107px;
    background-color: dimgray;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}

.btnp {
    position: absolute;
    top: 90px;
    width: 7px;
    height: 30px;
    left: 243px;
    border-radius: 0px 5px 5px 0px;
    background-color: gray;
    z-index: 1;
}

.btnup {
    position: absolute;
    top: 88px;
    width: 7px;
    height: 35px;
    left: -1px;
    border-radius: 5px 0px 0px 5px;
    background-color: gray;
    z-index: 1;
}

.btndn {
    position: absolute;
    top: 130px;
    width: 7px;
    height: 35px;
    left: -1px;
    border-radius: 5px 0px 0px 5px;
    background-color: gray;
    z-index: 1;
}

.btnw {
    position: absolute;
    top: 45px;
    width: 7px;
    height: 20px;
    left: -1px;
    border-radius: 5px 0px 0px 5px;
    background-color: gray;
    z-index: 1;
}

.home{
    font-size: 30px;
   
}